
@mixin error-container {
    text-align: center;
}


@mixin error-title {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}


@mixin error-message {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

@mixin home-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin backg-error {
    background-image: url(../img/bg.svg);
    background-size: cover;
    background-attachment: fixed;
}
